<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Archive Messages</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="content">
    <div class="well container-fluid ">
        <div class="row">
            <div class="col-md-10 my_title">
              <img src="images/postit.png" width="50px" height="50px"/>
              <strong class="text-primary">POSTIT</strong>
            </div>
            <div class="col-md-2 pull-right">
                <a href="#"><span class="glyphicon glyphicon-user">&nbsp;</span>Welcome Kene!</a>
            </div>
        </div>
        <div class="row">
          <div class="col-md-8">

          </div>
          <div class="col-md-4 pull-left">
            <div class="btn-group">
              <button type="button" class="btn btn-default"><a href=""><span class="glyphicon glyphicon-alert notification"></span><b> Notification </b></a></button>
              <button type="button" class="btn btn-default"><a href=""><span class="glyphicon glyphicon-envelope"></span><b> Message </b></a></button>
              <button type="button" class="btn btn-default"><a href=""><span class="glyphicon glyphicon-trash"></span><b> Archive </b></a></button>

              <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-home"></span> Menu<span class="caret"></span></button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Create Group</a></li>
                    <li><a href="#">Add Members</a></li>
                    <li><a href="#">Send Message</a></li>
                  </ul>
              </div>
            </div>

          </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
              <div class="side-menu"><a href="#"><button class="btn btn-danger btn-block" type="button" name="button">Compose</button></a></div>
              <div class="side-menu"><a href="#">Inbox (5)</a></div>
              <div class="side-menu"><a href="#">Sent Message</a></div>
              <div class="side-menu"><a href="#">Archive Message</a></div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="page-title text-primary">
                <span>ARCHIVE MESSAGES</span>
                <span class="pull-right"></span>
                </div>
                <table class="table table-hover table-striped">
                  <thead>
                    <tr>
                      <th><span class="glyphicon glyphicon-trash"></span></th>
                      <th>Group</th>
                      <th>Messages</th>
                      <th>Read By</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><input type="checkbox" value=""></td>
                      <td>Andela Fellows</td>
                      <td>Hello Guys, Please who is in Abuja now?.... <a href="#">Read</a></td>
                      <td><em><a href="#">Kene, Obi, Philip and 9 others</a></em></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox" value=""></td>
                      <td>Classmates</td>
                      <td>Hey! I want us to have a get together <a href="#">Read</a></td>
                      <td><em><a href="#">Kene, Obi, Philip and 9 others</a></em></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox" value=""></td>
                      <td>Football Team</td>
                      <td>We shall be having our training on Sunday. Be punctual <a href="#">Read</a></td>
                      <td><em><a href="#">Kene, Obi, Philip and 9 others</a></em></td>
                    </tr>
                  </tbody>
                </table>

              </div>
            </div>
            <div class="col-md-4">
              <div class="panel-group" id="accordion">
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse1"><span class="text-primary"><b>Groups Belonged To<b/></span></a>
                    </h4>
                  </div>
                  <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <ul>
                          <li><a href="#">Andela Fellows</a></li>
                          <li><a href="#">Football Team</a></li>
                          <li><a href="#">Classmates</a></li>
                        </ul>
                    </div>
                  </div>
                </div>
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse2"><span class="text-primary"><b>Groups Created<b><span></a>
                    </h4>
                  </div>
                  <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">
                      <ul>
                        <li><a href="#">Andela Fellows</a></li>
                        <li><a href="#">Football Team</a></li>
                        <li><a href="#">Classmates</a></li>
                      </ul>
                    </div>
                  </div>
                </div>

                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="col-md-8"></div>
        <div class="col-md-2 pull-right bold">&copy; <b>Designed by Kene &nbsp;&nbsp;&nbsp; 2017</b></div>
    </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

  </head>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
