<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/mystyle.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Sign in</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="well container-fluid ">
        <div class="row">
            <div class="col-md-6 my_title">
              <img src="images/postit.png" width="50px" height="50px"/>
              <strong class="text-primary">POSTIT</strong>
            </div>
            <div class="col-md-6"></div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
              <div class="panel panel-primary">
                <div class="">

                </div>
                  <div class="panel-heading"><b>Login</b></div>
                  <div class="panel-body">
                      <form class="" action="" method="POST">
                          <div class="form-group">
                              <label for="username">Username:</label>
                              <input type="text" class="form-control"  name="username" id="username" required>
                          </div>

                          <div class="form-group">
                              <label for="pwd">Password:</label>
                              <input type="password" name="password" class="form-control" id="pwd" required>
                          </div>
                          <button type="submit" class="btn btn-primary">Login</button>
                      </form>
                      <div  class="text-primary">
                        <div><a href="">Dont have an account? Sign up</a></div>
                        <div><a href="">Forgot Password?</a></div>
                      </div>
                  </div>
              </div>
            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div>
    <div class="footer">
        <div class="col-md-8"></div>
        <div class="col-md-2 pull-right bold">&copy; <b>Designed by Kene &nbsp;&nbsp;&nbsp; 2017</b></div>
    </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
